.heading-wrapper
  margin-bottom 2rem

  .heading-meta
    font-size 1.1rem
    padding-bottom 1rem
    border-bottom 1px solid #eee

    @media screen and (min-width: (1401 / 16)em)
      float left
      text-align right
      padding-right 1.5rem
      padding-bottom 0
      border-right 2px solid #eee
      border-bottom none

    .heading-label
      text-transform uppercase

    .heading-font
      font-weight bold
      font-style italic

  .heading-example
    padding-top 1rem
    @media screen and (min-width: (1401 / 16)em)
      float left
      padding-left 1.5rem
      padding-top 0

  &:after
    content ''
    display table
    clear both
