/*
 * Swanky Theme
 * Typography
 */

body
  font-family 'Open Sans', sans-serif
  line-height rem(22)

h1, h2, h3, h4, h5, h6
  font-weight 300
  line-height 1em
  display block

h1
  font-size 3rem

h2
  font-size 2.2rem

h3
  font-size 1.8rem

h4
  font-size 1.6rem

h5
  font-size 1.3rem

h6
  font-size 1.1rem

// Links
a, &:visited
  color $brand-primary
  text-decoration none

  &:hover
    text-decoration underline

p, ul, ol
  margin-bottom 1.5rem

strong
  font-weight 600

hr
  margin-top 4rem
  margin-bottom 4rem
  border 0
  border-top 1px solid $grey-lightest

button
  font-family 'Open Sans', sans-serif
