<html>
<head>
  <title>Test</title>
  <meta charset="UTF-8">
  <style>
    body { font-family: helvetica, 'sans serif'; font-size: 14px; color: #555555; background-color: #efefef;  }
    #main { width: 100%; max-width: 960px; margin: 30px auto; border-bottom: 1px solid #b3b3b3; }
    #main > div { border-top: 1px solid #b3b3b3; padding: 0 0 10px;  }
    #main ul ul { margin-bottom: 10px; }
    #head { width: 665px; margin: 0 auto; }
    pre span { color: #ffff4f }
    pre span span { color: orangered; }
  </style>
</head>
<body>
<div id="head">
  <code>
    <pre>
                                                                      <span>╓╗╗</span>
                                                                 <span>╗╣╣╣╣╣╣╣╗</span>
                                                                <span>╠╣╣╣╣╣╣╣╣<span>╣╣╗╗╗</span></span>
                                                                <span>╚╣╣╣╣╣╣╣╣<span>╣╣╣╣╝</span></span>
 ╓╣╣╣╣╣╣╣╗  ╔╣╣╣╣╣╣╣  ╞╣╣╣  ╣╣╣  ╣╣╣╣╣╣╣ ╣╣╣╣ ╣╣╣╣╣╣╣╣╣ <span>╣╣╗      ╙╣╣╣╣╣╣╣╣╜</span>
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╣ ╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣   <span>╣╣╣╣╣╣╗╗╗╗╣╣╣╣╣╣╣╣╣╣╗</span> 
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╣╗╣╣╣  ╣╣╣╣╗╓  ╣╣╣╣   ╠╣╣╣   <span>╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╕</span>
 ╣╣╣╣       ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╣╣╣╣╣  ╣╣╣╣╣╣╣ ╣╣╣╣   ╠╣╣╣   <span>╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣</span>
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╚╣╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣   <span>└╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╝</span>
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣ ╣╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣     <span>╚╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╝</span>
 └╝╣╣╣╣╣╝   └╝╣╣╣╣╣╝  ╞╣╣╣ ╘╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣        <span>╙╝╣╣╣╣╣╣╣╣╣╣╣╝╙</span> 
    </pre>
  </code>
</div>
<div id="main"></div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
  $(document).ready(function() {

    var data = <%= data %>;
    var subData = {};
    var $main = $('#main');

    var updateDom = function(id, data) {
      var domObj = $('<div id="'+ id +'"><h2>' + id + '</h2><ul></ul></div>');
      $.each(data, function( key, value ) {
        if (typeof(value) !== 'object') {
          domObj.find('ul').append('<li><strong>' + key + '</strong> - ' + value + '</li>');
        } else {
          var subDomObj = $('<ul></ul>');

          $.each(value, function(key, value) {
            subDomObj.append('<li>' + key + ' - ' + value + '</li>');
          });
          domObj.find('ul').append('<li><strong>' + key + '</strong></li>');
          domObj.find('li:last').append(subDomObj);
        }
      });
      $main.append(domObj);
    };

    $.each(data, function(key, value) {
      updateDom(key, value);
    });
  });

//  start no jquery implementation
//  var keys = Object.keys(data);
//  var keyDom = [];
//
//  for(var i = 0; i < keys.length; i++) {
//    var heading = document.createElement('H2');
//    var headingText = document.createTextNode(keys[i]);
//
//    keyDom.push(heading.appendChild(headingText));
//  }

</script>
</body>
</html>
