<html>
<head>
  <title>Confit Report</title>
  <meta charset="UTF-8">
  <style>
    body { font-family: helvetica, 'sans serif'; font-size: 14px; color: #555555; background-color: #efefef;  }
    #main { width: 100%; max-width: 960px; margin: 30px auto; border-bottom: 1px solid #b3b3b3; }
    #main ul ul { margin-bottom: 10px; }
    #head { width: 665px; margin: 0 auto; }
    pre span { color: #ffff4f }
    pre span span { color: orangered; }

    h2 { border-bottom: 1px solid #b3b3b3; padding: 10px 0; }
  </style>
</head>
<body>
<div id="head">
  <code>
    <pre>
                                                                      <span>╓╗╗</span>
                                                                 <span>╗╣╣╣╣╣╣╣╗</span>
                                                                <span>╠╣╣╣╣╣╣╣╣<span>╣╣╗╗╗</span></span>
                                                                <span>╚╣╣╣╣╣╣╣╣<span>╣╣╣╣╝</span></span>
 ╓╣╣╣╣╣╣╣╗  ╔╣╣╣╣╣╣╣  ╞╣╣╣  ╣╣╣  ╣╣╣╣╣╣╣ ╣╣╣╣ ╣╣╣╣╣╣╣╣╣ <span>╣╣╗      ╙╣╣╣╣╣╣╣╣╜</span>
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╣ ╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣   <span>╣╣╣╣╣╣╗╗╗╗╣╣╣╣╣╣╣╣╣╣╗</span> 
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╣╗╣╣╣  ╣╣╣╣╗╓  ╣╣╣╣   ╠╣╣╣   <span>╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╕</span>
 ╣╣╣╣       ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╣╣╣╣╣  ╣╣╣╣╣╣╣ ╣╣╣╣   ╠╣╣╣   <span>╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣</span>
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣╚╣╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣   <span>└╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╝</span>
 ╣╣╣╣ ╠╣╣╣  ╣╣╣╣ ╣╣╣╣ ╞╣╣╣ ╣╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣     <span>╚╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╣╝</span>
 └╝╣╣╣╣╣╝   └╝╣╣╣╣╣╝  ╞╣╣╣ ╘╣╣╣  ╣╣╣╣    ╣╣╣╣   ╠╣╣╣        <span>╙╝╣╣╣╣╣╣╣╣╣╣╣╝╙</span> 
    </pre>
  </code>
</div>
<div id="main"></div>
<script>
  var data = <%= data %>;

  //create a heading for each item
  var init = function(data, id) {
    var keys = Object.keys(data);
    for(var i = 0; i < keys.length; i++) {
      createHeading(data, keys[i], id, 'h2');
    }
  };

  var createHeading = function(data, text, id, type) {
    var elem = document.getElementById(id),
      heading = document.createElement(type),
      headingText = document.createTextNode(text);

    heading.appendChild(headingText);
    elem.appendChild(heading);

    createList(data, text, id);
  };

  //create a wrapper
  var createList = function(object, key, id) {
    if (typeof object[key] === 'object') {
      var list = document.createElement('ul'),
        wrapper = document.getElementById(id);

      list.setAttribute("id", key);
      wrapper.appendChild(list);
      appendToList(object[key], key);
    }
  };

  //add list item to wrapper
  var appendToList = function(item, id) {
    var itemKeys = Object.keys(item);

    for(var i = 0; i < itemKeys.length; i++) {
      if (typeof item[itemKeys[i]] !== 'object') {
        var list = document.getElementById(id),
          listItem = document.createElement('li'),
          listItemText = document.createTextNode(itemKeys[i] + ' ' + item[itemKeys[i]]);

        listItem.appendChild(listItemText);
        list.appendChild(listItem);
      } else {
        createHeading(item, itemKeys[i], id, 'h3');
      }
    }
  };

  init(data, 'main');
</script>
</body>
</html>
