/*
 * Swanky Theme
 * Colours (Aussie-style)
 */

// Primary Colours
$bittersweet = #FF5A60
$scooter = #43BDD4
$lemon = #ffe11A
$swanky-red = #FF5A60
$swanky-blue = #43BDD4

// Secondary Colours
$mountain-meadow = #1BB243
$st-tropaz = #234BA1
$gold-tips = #fd7400

// Blacks & Greys
$night-rider = #2e2e2e
$grey-smoke = #ccc
$white-smoke = #eee
$alabaster = #f8f8f8

$black = #000
$white = #fff

// Brand Colours
$brand-primary = $bittersweet
$brand-secondary = $scooter
$brand-tertiary = $lemon

$border-colour = $white-smoke
$block-background-colour = $alabaster
