/*
 * Swanky Theme
 * Variables
 */

////////////////////////////////////////
// Base Units
////////////////////////////////////////
$base-font-size = 1.4rem

////////////////////////////////////////
// Colour Palette
////////////////////////////////////////
@import './colors'

////////////////////////////////////////
// Animation
////////////////////////////////////////
$duration = 200ms;

////////////////////////////////////////
// Elements
////////////////////////////////////////
$sidebar-width = 280px
$header-height = 130px
$header-height-mobile = 80px

////////////////////////////////////////
// Device sizes
////////////////////////////////////////
$width-mobile =  (480 / 16)em
$width-tablet = (768 / 16)em
$width-sm-desktop =  (992 / 16)em
$width-md-desktop = (1400 / 16)em;
$width-lg-desktop = (1800 / 16)em;

// Size helpers
$screen-is-bigger-than-mobile =  (481 / 16)em
$screen-is-bigger-than-tablet = (769 / 16)em
$screen-is-bigger-than-sm-desktop =  (993 / 16)em
$screen-is-bigger-than-md-desktop = (1401 / 16)em;
$screen-is-bigger-than-lg-desktop = (1801 / 16)em;
