.character-set-wrapper
  margin 0 0 4rem 0
  float left

  @media screen and (min-width: (481 / 16)em)
    margin 0 8rem 4rem 0

.character-large
  font-size 100px
  line-height 1em

.character-set
  color #000

.character-set-example
  padding-left 3rem
  border-left 2px solid #eee

.character-set-name
  margin-bottom: 1rem
  font-size 1.3rem
  font-weight bold
  font-style italic

  .character-set-name-label
    font-size 1.1rem
    font-weight normal
    font-style none
    margin 0
    line-height normal
    text-transform uppercase

.character-set-lc
  font-size 1.3rem
  margin-bottom 4px

.character-set-uc
  font-size 1.3rem
  margin-bottom 4px

.character-set-no
  font-size 1.3rem
  margin-bottom 4px
