table.input-arguments
  max-width 100%
  text-align left

.variables-matrix
  border 1px solid #ddd
  width 100%
  margin 10px 0

  td, th
    padding 10px
    &:not(:first-child)
      border-left 1px solid #eee

  th
    background-color #f1f1f1

  td
    vertical-align top
    padding 5px