// Table styles
// Copied from https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css
// ...and tweaked a little

table
  border-spacing: 0
  border-collapse: collapse
  margin-top: 0
  margin-bottom: 16px
  display: block
  width: 100%
  overflow: auto
  word-break: normal
  word-break: keep-all


td, th
  padding: 0


table th
  font-weight: bold


table th, table td
  padding: 6px 13px
  border: 1px solid $border-colour


table tr
  background-color: #fff
  border-top: 1px solid $grey-smoke


table tr:nth-child(2n)
  background-color: $alabaster

