/*
 * Swanky Theme
 * Colours (Aussie-style)
 */


// Primary Colours
$malachite = #21e779
$deep-sky-blue = #08b2b4
$lemon = #ffe11A

// Secondary Colours
$elf-green = #1f8a70
$astronaut-blue = #0EB4C9
$gold-tips = #fd7400

// Blacks & Greys
$night-rider = #2e2e2e
$grey-smoke = $gray-smoke = #ccc
$white-smoke = #eee
$alabaster = #f8f8f8

$black = #000
$white = #fff

// Brand Colours
$brand-primary = $deep-sky-blue
$brand-secondary = $malachite
$brand-tertiary = $lemon

$border-colour = $white-smoke
$block-background-colour = $alabaster

$link-color = $brand-primary


// Badge colors
$badge-red = #dd0000
$badge-blue = #0088dd
$badge-yellow = #f0dc00
