table.table.input-arguments
  max-width 100%
  text-align left

.variables-matrix
  border 1px solid #ddd
  width 100%
  margin 10px 0

  td.td, th.th
    &:not(:first-child)
      border-left 1px solid #eee

  th.th
    background-color #f1f1f1

  td.td
    vertical-align top
