<div class="colour-drop-wrapper">
  <div class="colour-drop" style="background: <%= data.hex ? data.hex : '#000' %>"></div>
  <div class="colour-drop-meta">
    <div class="colour-drop-name"><%= data.name ? data.name : 'Black' %></div>
    <div class="colour-drop-code"><strong>RGB</strong> <%= data.rgb ? data.rgb : '30 30 30' %></div>
    <div class="colour-drop-code"><strong>HEX</strong> <%= data.hex ? data.hex : '#000000' %></div>
  </div>
</div>
