// Base class
.badge
  display inline-block
  min-width 10px
  padding 3px 7px
  font-size $font-size-small
  font-weight $badge-font-weight
  color $badge-color
  line-height $badge-line-height
  vertical-align middle
  white-space nowrap
  text-align center
  background-color $badge-bg
  border-radius $badge-border-radius

  // Because the badge is rendered using a <p> tag, we need collapse the <p>'s natural margin
  > p
    margin: 0

  h3 &
    position: relative
    top: -2px

.badge__browser
  @extend .badge
  background-color: $badge-red

  &:before
    content: 'Browser'

.badge__node
  @extend .badge
  background-color: $badge-blue

  &:before
    content: 'NodeJS'


.badge__grunt
  @extend .badge
  background-color: $black

  &:before
    content: 'Grunt'

.badge__npm
  @extend .badge
  background-color: $badge-yellow
  color: $black

  &:before
    content: 'NPM'

.badge__protractor
  @extend .badge
  background-color: purple

  &:before
    content: 'Protractor'

.badge__webpack
  @extend .badge
  background-color: green

  &:before
    content: 'Webpack'

