      <footer class="<%- styles.footer -%>">
        <% if (meta.repository) { %>
        <div class="<%- styles.version -%>">version <%- meta.version -%></div>
        <% } %>
      </footer>
    </div>
  </body>
</html>
