.card-content
  position: relative
  padding: 50px 20px 20px

.card-content
  p
    font-size: 1.4rem
    color: #2e2e2e

.card-content
  h2
    font-size: 2.2rem
    font-weight: 600
    color: #000
    line-height: 1em
    margin-bottom: 1rem

.card-content
  h5
    font-size: 1.2rem
    margin-bottom: 0.25rem
    color: #c3c3c3

.card-content
  .btn-default
    margin: 20px auto 10px auto
    display: block;
    background: #fff
    border: 1px solid #eee
    height: 40px
    line-height: 1em
    padding: 0 60px
    outline: 0
    border-radius: 20px
    font-size: 1.6rem
    font-weight: 300
    color: #000
    background: url('../images/arrow.svg') center right 1rem no-repeat;

    &:hover
      cursor: pointer

    &:focus
      box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.07)
