.angular-badge
  width: 70px
  height: auto
  display inline-block
  margin 0 1.5rem 0
  text-align: center
  font-size 1rem
  line-height: 1em
  text-transform: uppercase

  .angular-badge-icon
    width: 64px
    height: 68px
    background url('./snippets/angular-badge/images/angular-icon.svg') no-repeat top center
    background-size @width @height
    margin: 0 auto 10px auto
