.unit-wrapper
  margin-bottom 2rem
  float left

  .unit-meta
    font-size 1.1rem
    line-height 1.2em
    padding-left 1.5rem
    margin-right 1.5rem
    border-left 2px solid #eee
    float left

    .unit-label
      text-transform uppercase

    .unit-size
      font-weight bold
      font-style italic

  .unit-example
    float left
    margin-right 1.5rem

    .unit
      background rgba(0, 200, 255, 0.3)
      border 1px solid rgba(0, 200, 255, 0.5)
      box-sizing border-box

  &:after
    content ''
    display table
    clear both
