
<div class="unit-wrapper">
  <div class="unit-meta">
    <div class="unit-label"><%= data.label ? data.label : '1 unit' %></div>
    <div class="unit-size"><%= data.size ? data.size : '1 Unit' %></div>
  </div>
  <div class="unit-example">
    <div class="unit" style="width: <%= data.size ? data.size : '20px' %>; height: <%= data.size ? data.size : '20px' %>"></div>
  </div>
</div>
