/*
 * Swanky Theme
 * Variables
 */

////////////////////////////////////////
// Base Units
////////////////////////////////////////
$base-font-size = 1.4rem

////////////////////////////////////////
// Colour Palette
////////////////////////////////////////

// Primary Colours
$malachite = #21e779
$deep-sky-blue = #08b2b4
$lemon = #ffe11A

// Secondary Colours
$elf-green = #1f8a70
$astronaut-blue = #004461
$gold-tips = #fd7400

// Blacks & Greys
$black = #000
$night-rider = #2e2e2e
$white-smoke = #eee
$alabaster = #f8f8f8
$white = #fff

// Brand Colours
$brand-primary = $malachite
$brand-secondary = $deep-sky-blue
$brand-tertiary = $lemon

$border-colour = $white-smoke
$block-background-colour = $alabaster

////////////////////////////////////////
// Elements
////////////////////////////////////////
$duration = 200ms

////////////////////////////////////////
// Device sizes
////////////////////////////////////////
$width-mobile =  (480 / 16)em
$width-tablet = (768 / 16)em
$width-sm-desktop =  (992 / 16)em
$width-md-desktop = (1400 / 16)em
$width-lg-desktop = (1800 / 16)em

// Size helpers
$screen-is-bigger-than-mobile =  (481 / 16)em
$screen-is-bigger-than-tablet = (769 / 16)em
$screen-is-bigger-than-sm-desktop =  (993 / 16)em
$screen-is-bigger-than-md-desktop = (1401 / 16)em
$screen-is-bigger-than-lg-desktop = (1801 / 16)em
