/*
 * Swanky Theme
 * Variables
 */

////////////////////////////////////////
// Base Units
////////////////////////////////////////
$base-font-size = 1.4rem
$font-size-small = 1.2rem

////////////////////////////////////////
// Colour Palette
////////////////////////////////////////

@import './colors'

$duration = 200ms;

////////////////////////////////////////
// Elements
////////////////////////////////////////
$sidebar-width = 280px
$header-height = 130px
$header-height-mobile = 80px

////////////////////////////////////////
// Device sizes
////////////////////////////////////////
$width-mobile =  (480 / 16)em
$width-tablet = (768 / 16)em
$width-sm-desktop =  (992 / 16)em
$width-md-desktop = (1400 / 16)em;
$width-lg-desktop = (1800 / 16)em;

// Size helpers
$screen-is-bigger-than-mobile =  (481 / 16)em
$screen-is-bigger-than-tablet = (769 / 16)em
$screen-is-bigger-than-sm-desktop =  (993 / 16)em
$screen-is-bigger-than-md-desktop = (1401 / 16)em;
$screen-is-bigger-than-lg-desktop = (1801 / 16)em;


//Badges (from Bootstrap :)

$badge-color ?=               $white
//** Linked badge text color on hover
$badge-link-hover-color ?=    $white
$badge-bg ?=                  $grey-smoke

//** Badge text color in active nav link
$badge-active-color ?=        $link-color
//** Badge background color in active nav link
$badge-active-bg ?=           $white

$badge-font-weight ?=         bold
$badge-line-height ?=         1
$badge-border-radius ?=       10px
