<div class="grid-wrapper">
  <div class="psuedo-grid-columns">
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
    <div class="col col-1 px2"><div class="col-shadow"></div></div>
  </div>
  <div class="grid-shadow">
    <% data.columns.split(',').forEach((size) => { %>
      <div class="<%- size -%>">
        <div class="col-shadow">
          <div class="col-label">
            <% size.trim().split(' ').forEach((classes) => { %>
              .<%- classes -%>
            <% }); %>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
