/*
	Icon font: icon-font-mobile
*/

@font-face {
  font-family: "icon-font-mobile";
  src: url("./icon-font-mobile.eot");
  src: url("./icon-font-mobile.eot?#iefix") format("embedded-opentype"),
       url("./icon-font-mobile.woff") format("woff"),
       url("./icon-font-mobile.ttf") format("truetype"),
       url("./icon-font-mobile.svg#icon-font-mobile") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-a000-bill:before,
.icon-a001-calculate:before,
.icon-a002-chevron:before,
.icon-a003-close:before,
.icon-a004-contact-letter:before,
.icon-a005-cross:before,
.icon-a006-currency:before,
.icon-a007-desktop:before,
.icon-a008-digi-mailbox:before,
.icon-a009-download:before,
.icon-a010-error:before,
.icon-a011-exclamation:before,
.icon-a012-expando-closed:before,
.icon-a013-expando-open:before,
.icon-a014-external-link:before,
.icon-a015-external:before,
.icon-a016-form-stepper:before,
.icon-a017-hamburger:before,
.icon-a018-help:before,
.icon-a019-in-store:before,
.icon-a020-latest-offers:before,
.icon-a021-locations:before,
.icon-a022-logo:before,
.icon-a023-menu-active:before,
.icon-a024-menu-expand:before,
.icon-a025-menu-expandopen:before,
.icon-a026-our-apps:before,
.icon-a027-pen:before,
.icon-a028-phone:before,
.icon-a029-postcode:before,
.icon-a030-question:before,
.icon-a031-search:before,
.icon-a032-shop:before,
.icon-a033-tick:before,
.icon-a034-tickonly:before,
.icon-a035-track:before,
.icon-a036-australia:before,
.icon-a037-extracover:before,
.icon-a038-overseas:before,
.icon-a039-signature:before,
.icon-a040-social-fb:before,
.icon-a041-social-google:before,
.icon-a042-social-pinterest:before,
.icon-a043-social-twitter:before,
.icon-a044-social-youtube:before,
.icon-a045-email:before,
.icon-a046-minus:before,
.icon-a047-delivery-times:before,
.icon-a048-thumb-up:before {
  display: inline-block;
  font-family: "icon-font-mobile";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-a000-bill:before { content: "\f100"; }
.icon-a001-calculate:before { content: "\f101"; }
.icon-a002-chevron:before { content: "\f102"; }
.icon-a003-close:before { content: "\f103"; }
.icon-a004-contact-letter:before { content: "\f104"; }
.icon-a005-cross:before { content: "\f105"; }
.icon-a006-currency:before { content: "\f106"; }
.icon-a007-desktop:before { content: "\f107"; }
.icon-a008-digi-mailbox:before { content: "\f108"; }
.icon-a009-download:before { content: "\f109"; }
.icon-a010-error:before { content: "\f10a"; }
.icon-a011-exclamation:before { content: "\f10b"; }
.icon-a012-expando-closed:before { content: "\f10c"; }
.icon-a013-expando-open:before { content: "\f10d"; }
.icon-a014-external-link:before { content: "\f10e"; }
.icon-a015-external:before { content: "\f10f"; }
.icon-a016-form-stepper:before { content: "\f110"; }
.icon-a017-hamburger:before { content: "\f111"; }
.icon-a018-help:before { content: "\f112"; }
.icon-a019-in-store:before { content: "\f113"; }
.icon-a020-latest-offers:before { content: "\f114"; }
.icon-a021-locations:before { content: "\f115"; }
.icon-a022-logo:before { content: "\f116"; }
.icon-a023-menu-active:before { content: "\f117"; }
.icon-a024-menu-expand:before { content: "\f118"; }
.icon-a025-menu-expandopen:before { content: "\f119"; }
.icon-a026-our-apps:before { content: "\f11a"; }
.icon-a027-pen:before { content: "\f11b"; }
.icon-a028-phone:before { content: "\f11c"; }
.icon-a029-postcode:before { content: "\f11d"; }
.icon-a030-question:before { content: "\f11e"; }
.icon-a031-search:before { content: "\f11f"; }
.icon-a032-shop:before { content: "\f120"; }
.icon-a033-tick:before { content: "\f121"; }
.icon-a034-tickonly:before { content: "\f122"; }
.icon-a035-track:before { content: "\f123"; }
.icon-a036-australia:before { content: "\f124"; }
.icon-a037-extracover:before { content: "\f125"; }
.icon-a038-overseas:before { content: "\f126"; }
.icon-a039-signature:before { content: "\f127"; }
.icon-a040-social-fb:before { content: "\f128"; }
.icon-a041-social-google:before { content: "\f129"; }
.icon-a042-social-pinterest:before { content: "\f12a"; }
.icon-a043-social-twitter:before { content: "\f12b"; }
.icon-a044-social-youtube:before { content: "\f12c"; }
.icon-a045-email:before { content: "\f12d"; }
.icon-a046-minus:before { content: "\f12e"; }
.icon-a047-delivery-times:before { content: "\f12f"; }
.icon-a048-thumb-up:before { content: "\f130"; }