.paragraph-wrapper
  margin-bottom 2rem

  .paragraph-meta
    font-size 1.1rem
    padding-bottom 1rem

    .paragraph-font
      font-weight bold
      font-style italic

  .paragraph-example
    border-left 2px solid #eee
    padding-left 1.5rem

    @media screen and (min-width: (1401 / 16)em)
      column-count 2
      column-gap 4rem
