<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title>Sample App</title>

  <!-- Die frame! DIE! http://en.wikipedia.org/wiki/Framekiller -->
  <style>html{display:none}</style>
  <script>
    if (window.self !== window.top) {
      window.top.location.href = window.location.href;
    } else {
      document.documentElement.style.display = 'block';
    }
  </script>
  <!--link href="your-stylesheet.css" rel="stylesheet"-->

</head>
<body>

<!--script src="app.js"></script-->

</body>
</html>
